<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
     </script>
     <script src="../javascript/index.js"></script>
    <title>Simple Portfolio</title>
  </head>
  <body>
    <header id="landings">
      <!-- <div class="landing"> -->
        <div class="menu-box">
          <div class="logos">
            <p>PrinceStudio</p>
          </div>
          <div id="menus">
            <ul class="menus">
              <li><a href="" class="homePage">Home</a></li>
              <li><a href="#about" class="aboutPage">About</a></li>
              <li><a href="#services" class="servicesPage">Services</a></li>
              <li><a href="#portfolio" class="portfolioPage">Portfolio</a></li>
              <li><a href="#blog" class="blogPage">Blog</a></li>
              <li><a href="#contact" class="contactPage">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="texts">
          <p>Hello, my name is</p>
          <h1>Prince Siachin</h1>
          <p>web developer</p>
          <p class="download">Download CV</p>
        </div>
      <!-- </div> -->
    </header>

    <div id="about">
      <section class="top-text">
        <h1>about me</h1>
        <p>information about myself</p>
      </section>
      <section class="about-content">
        <img src="../images/about/about2.jpg" alt="">
        <div class="about-information">
          <h1>i'm prince siachin</h1>
          <h3><i>UI & UX</i> designer based in <i>Indonesia</i></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatem, itaque! Nesciunt, architecto voluptate voluptates.</p>
        </div>
        <div class="bio">
          <p>Birthday: 28 august 2001</p>
          <p>Email: princesiachin@gmail.com</p>
          <p>Age: 19</p>
          <p>Phone: 812-1250-7373</p>
          <p>Residence: Indonesia</p>
          <p>Skills: HTML, CSS, JS, Python</p>
          <p>Hobbies: Coding, workout</p>
          <p>Freelance: Available</p>
        </div>
      </section>
      <section class="social-button">
        <img src="../images/about/social-icons/facebook.png" alt="">
        <img src="../images/about/social-icons/twitter.png" alt="">
        <img src="../images/about/social-icons/instagram.png" alt="">
        <img src="../images/about/social-icons/linkedin.png" alt="">
      </section>
    </div>

    <article id="services">
      <h1 class="services-title">my services</h1>
      <section class="arrow" id="arrow-left"></section>
      <section class="slider">
        <div class="slide">
          <div class="ss services-one active">
            <h2>unique design</h2>
            <p>I offer you a unique design for your blog or website even your app.</p>
            <img src="../images/services/s-one.png" alt="">
          </div>
          <div class="ss services-two">
            <h2>great layout</h2>
            <p>A great layout is a great things for users experience.</p>
            <img src="../images/services/s-two.png" alt="">
          </div>
          <div class="ss services-three">
            <h2>colorful design</h2>
            <p>A good color is a good experience for your eyes.</p>
            <img src="../images/services/s-three.png" alt="">
          </div>
          <div class="ss services-four">
            <h2>nice animations </h2>
            <p>I will amazed my visitor's eyes with nice and cool animations.</p>
            <img src="../images/services/s-four.png" alt="">
          </div>
          <div class="ss services-five">
            <h2>good content </h2>
            <p>I offer you a unique design for your blog or website even your app.</p>
            <img src="../images/services/s-five.png" alt="">
          </div>
          <div class="ss services-six">
            <h2>responsiveness</h2>
            <p>I offer you a unique design for your blog or website even your app.</p>
            <img src="../images/services/s-six.png" alt="">
          </div>
        </div>
      </section>
      <section class="arrow" id="arrow-right"></section>
    </article>

    <article id="portfolio">
      <div class="work-info">
        <h1>professional skills</h1>
        <p>I design and develop services for customer of all sizes, specializing in design creative and stylish UI/UX also modern website and web app also mobile apps
          <span class="react">(react native).</span>
        </p>
        <p>html5
          <i class="cc" name="70%"></i>
        </p>
        <p>wordpress
          <i class="cc" name="80%"></i>
        </p>
        <p>javascript
          <i class="cc" name="50%"></i>
        </p>
        <p>ui/ux
          <i class="cc" name="25%"></i>
        </p>
      </div>
      <div class="images">
        <img src="../images/about/image.png" alt="">
      </div>
    </article>

    <article id="my-latest-work">
      <section class="titles">
        <h1>latest works</h1>
        <ul>
          <li><a href="#all">all</a></li>
          <li><a href="#branding">branding</a></li>
          <li><a href="#ui-design">ui design</a></li>
          <li><a href="#projects">project</a></li>
        </ul>
      </section>

      <section class="projects">
        <img class="image-one" src="../images/portfolio/1.jpg" alt="">
        <img class="image-two" src="../images/portfolio/2.jpg" alt="">
        <img class="image-three" src="../images/portfolio/3.jpg" alt="">
        <img class="image-four" src="../images/portfolio/4.jpg" alt="">
        <img class="image-five" src="../images/portfolio/5.jpg" alt="">
        <img class="image-six" src="../images/portfolio/6.jpg" alt="">
      </section>
    </article>

    <article id="get-in-touch">
      <div class="gtext">
        <p>I’m extremely excited about web development and it’s design in all it forms.</p>
      </div>
      
      <div class="get-more">
        <p>Get in touch</p>
      </div>
    </article>

    </article>
  </body>
</html>
